@import 'opt-common.css';

body {
  font-size: 92.5%;
  padding: 0 1.5em;
}

.grid-formats {
  grid-row-gap: 2px;
}

fieldset:first-of-type { margin-top: 0; }

fieldset div label {
  line-height: 225%;
}
