@import 'opt-common.css';

body {
  padding: 0 1.5em;
  font-size: 92.5%;
}

.grid-formats {
  grid-template-columns: 50% 50%;
  grid-row-gap: 2px;
}

.grid-identifiers {
  grid-template-columns: 50% 50%;
}

input[type=text] {
  width: 60%;
}

fieldset:first-of-type { margin-top: 0; }

fieldset div label {
  line-height: 225%;
}
