/* popup.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  --default: 13px;
  --large: 14.5px;
  --extra-large: 16px;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: var(--default);
  width: max-content;
  padding: 1rem 0.5rem;
}

h1 {
  font-size: var(--extra-large);
  margin: 0;
  padding: 0;
}

div#error-content > * {
  text-align: center;
}

.hidden {
  display: none;
}

fieldset {
  border: none;
}

legend {
  font-size: var(--large);
  font-weight: bold;
  background-color:  #eee;
  padding: 5px 8px;
}

div.formats > div {
  margin: 0.5rem 0;
}

label {
  vertical-align: 2px;
}

button {
  background-color: #0060df;
  color: white;
  border: 1px transparent;
  border-radius: 3px;
  outline-offset: 2px;
  font-family: inherit;
  font-size: var(--large);
  padding: 4px 8px;
  margin: 0 0.25rem;
}

button:hover {
  filter: brightness(1.25);
}
